[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
langchain = "*"
streamlit = "*"
python-dotenv = "*"
pypdf2 = "*"
mcqgenerator = {file = ".", editable = true}

[dev-packages]

[requires]
python_version = "3.12"
